docker.fixOwnership = true
docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}
process {
    withName: MAKEBLASTDB {
        container = 'community.wave.seqera.io/library/blast:2.16.0--540f4b669b0a0ddd'
    }
    withName: MEGABLAST {
        container = 'community.wave.seqera.io/library/blast:2.16.0--540f4b669b0a0ddd'
    }
}

params {
    // Input directories
    queriesDir    = "data/reads"      // Directory containing query FASTA files
    referenceDir  = "data/reference"  // Directory containing transcriptome FASTA files
    refOutDir = "results_ukd/blast_db"

    // Output directory
    outdir = "results_ukd"      // Base directory for all results
}